  @import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

.view.ng-enter {
  animation: fadeIn .4s;
  position: absolute;
  left: 0;
  right: 0;
}

.view.ng-leave {
  animation: fadeOut .4s;
  position: absolute;
  left: 0;
  right: 0;
}

.banner.ng-anchor {
  transition: .2s linear all;
}

.logo.ng-anchor {
  transition: .2s linear all;
  z-index: 1000;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
