<section layout="column" layout-align="center center">
  <md-toolbar layout="row" layout-align="center center" class="md-tall" md-scroll-shrink="true">
    <md-input-container md-theme="dark" class="md-icon-float">
      <label>Search in BreweryDB</label>
      <md-icon md-svg-src="assets/images/icons/ic_search_black_24px.svg" class="name"></md-icon>
      <input ng-model="search" type="search">
    </md-input-container>
    <img src="assets/images/badge.png">
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item ng-repeat="brewery in list.breweries | filter:search">
        <md-card style="position: relative;">
          <a ng-link="detail({id: brewery.id})">
            <img ng-src="assets/images/breweries/{{brewery.id}}-banner.jpg" class="banner" ng-animate-ref="{{brewery.id}}-banner">
            <img ng-src="assets/images/breweries/{{brewery.id}}-logo.jpg" class="logo" ng-animate-ref="{{brewery.id}}-logo">
          </a>
          <md-card-content>
            <h2 class="md-title">{{brewery.name}}</h2>
            <p><a ng-href="{{brewery.website}}">{{brewery.website}}</a></p>
          </md-card-content>
        </md-card>
      </md-list-item>
    </md-list>
  </md-content>
</section>
